.cellListEvenItem,.cellListOddItem {
  margin: 8px;
  border: 1px solid #666;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  padding: 5px 5px;
  font-size: 12pt;
  background-color: white;
}
